/* nav style */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px 20px; 
    position: fixed;  /* fixed postition */
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    z-index: 1000;
}

/* Logo style */
.logo {
    color: white;
    font-size: 24px;
    font-weight: bold;
}

.logo-icon {
    width: 2vw; 
    height: auto; 
    vertical-align: middle; 
    margin-right: 10px; 
}

/* nav links */
.nav-links {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}

.nav-links li {
    margin: 0 0px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 10px;
    z-index: 1001; 
}

/* high light current page*/
.nav-links a.active {
    border-bottom: 3px solid yellow;
}

/* hover change color */
.nav-links a:hover {
    color: lightblue;
}


body {
    padding-top: 9vh; 
}


@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        width: 20vw; 
        height: 200vh; 
        min-height: 100vh;
        padding: 20px;
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        justify-content: flex-start; 
    }

    .nav-links {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        padding: 0;
        margin: 0; 
        gap: 10px; 
    }

    .nav-links li {
        width: 100%;
    }

    .nav-links a {
        display: block;
        padding: 5px;
        width: 100%;
        text-align: left;
        font-size: 14px; 
    }
    .logo{
        font-size: 20px;
    }

    body {
        margin-left: calc(25vw + 10px); /* contents shift right */
    }
}


